{% extends "base.html.twig" %}

{% block title %}
    {{ animal }}
{% endblock %}


{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Mamíferos</h1>
            <p class="col-md-8 fs-4">Esta é a página de detalhes do mamifero {{ animal }}.</p>
            <a href="{{ path('app_home_page',{'_fragment':'mamiferos'}) }}"><button class="btn btn-primary btn-lg" type="button">Voltar para Home.</button></a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true"> Esta Lista Contém {{ respostas|length }} Itens.</a>
            {% for resposta in respostas %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">{{ resposta }}</a>
            {% endfor %}
        </div>

{% endblock %}